@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

.Header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}

.Header div{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.Header div img{
    width: 50px;
}

.Form{
    width: 310px;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.078);
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.085);
    display: flex;
    padding: 30px;
    margin-right: 100px;
    margin-top: -220px;
    align-items: center;
    float: right;
    flex-direction: column;
}

.Form div {
    color: rgb(31, 124, 191);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.Form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.Form form input{
    border: none;
    width: 70%;
    margin: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.044);
}

#btnSubmitForm{
    width: 35%;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgb(31, 124, 191);
}

.Card{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.174);
    background-image: url("../assets/Linha.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position:  92% 92%;
}

.titleCard{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.textCard{
    padding-top: 20px;
    font-size: 12px;
}

